// MOBILE FIRST

@media (min-width: 320px) and (max-width: 1024px){

//main
main.main__miformacion{
    height: 300vh;   
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
        
        a{
        img.Wpp {
        display: none;
        }
        }    


 h1.main__miformacion--titulo{
        font-size: 40px;
        color: $color-white;
        padding-bottom: 0px;
        padding-top: 25px;
        text-align: center;
        strong{
            color: $color-white;
        }
    }
    
    .main__miformacion--subtitulos{
       padding-top: 20px;
       padding-bottom: 20px;
       text-decoration:underline;
       text-align: center;
    }
    h2{
        color: $color-white;
    }
    p{
        color: $color-white;
        text-align: center;
        a{
            color: $color-rojo-1;
        }
    }
    h3{
        color: $color-white;
        text-align: center;
    }
    ul{
        color: $color-white;
        text-align: center;
        a{
            color: $color-rojo-1;
        }
    }
    h4{
        color: $color-white;
        text-align: center;
    }
}
}

// RESPONSIVE DESKTOP
@media (min-width: 1024px ){
//main
main.main__miformacion.container{
    height: 123vh;
    section.main__miformacion--parte1{
    height: 52vh; 
    width: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;     
        a{
        img.Wpp {
        display: flex;
        width: 4.5%;
        position: fixed;
        top: 45%;
        left: 93%;
        border-radius: 20px;
        z-index: 1;
        }
        }    
        h1.main__miformacion--titulo{
            font-size: 40px;
            color: $color-white;
            padding-bottom: 10px;
            padding-top: 10px;
            text-align: center;
            strong{
                color: $color-white;
            }
        }

 div.main__miformacion--titulo{
        font-size: 45px;
        color: $color-white;
        padding-bottom: 0px;
        padding-top: 5px;
    }
    h2.main__miformacion--subtitulos{
        padding-top: 0px;
        padding-bottom: 10px;
        text-decoration:underline;
        text-align: center;
        color: $color-white;
     }
    .main__miformacion--subtitulos{
       padding-top: 15px;
       padding-bottom: 20px;
       text-decoration:underline;
    }
    h3{
        color: $color-white;
    }
    p{
        color: $color-white;
        text-align: center;
    }
    h3{
        color: $color-white;
    }
    ul{
        color: $color-white;
    }
    h4{
        color: $color-white;
    }
}
section.main__miformacion--parte2{
    height: 60vh;  
    width: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    div{
        h2{
            color: $color-white;
            text-align: center;
            padding-bottom: 10px;
            text-decoration:underline;
        }
        h3{
            color: $color-white;
            text-align: center;
        }
        p{
            color: $color-white;
            text-align: center;
            a{
                color: $color-rojo-1;
            }
        }
    }
    div{
        h2{
            color: $color-white;
            text-align: center;
            padding-bottom: 10px;
            text-decoration:underline;
        }
        ul{
            color: $color-white;
            text-align: center;
            a{
                color: $color-rojo-1;
            }
        }
    }
}
}
}