@media screen and (min-width: 320px){
    //main mivoz
    .main__mivoz{
        height: 67vh - 5.5;
        h1.main__mivoz--encabezado{
        padding-top: 15px;
        text-align: center;
        height: 100px;
        padding-top: 50px;
        color:$color-white;
        }
        div#carouselExampleControls{
            padding-top: 50px;
       
        button.carousel-control-prev{
            padding-top: 50px;
            }
        button.carousel-control-next{
            padding-top: 50px;
        }
        }
    }
}

// RESPONSIVE DESKTOP
@media (min-width: 1024px){

    //main mi voz
    .main__mivoz{
        height: 79.5vh;
        display: flex;
        align-content: center;
        justify-content: center;
        flex-direction: column;
        padding-bottom: 100px;
        h1.main__mivoz--encabezado{
            text-align: center;
            align-items: flex-start;
            color:$color-white;
            justify-self: flex-start;
            padding-bottom: 100px;
        }
        div#carouselExampleControls{
            align-self: center;
            width: 500px;
            height: 250px;
            padding-bottom: 200px;
            div{
                width: 500px;
                div{
            iframe{
                width: 500px;
                height: 250px;

            }
        }
        }
            padding-top: 25px;
            button.carousel-control-prev{
                padding-top: 25px;
                }
            button.carousel-control-next{
                padding-top: 25px;
            }
       
}
}
}
