$color-rojo: red;
$color-rojo-4:rgb(233, 38, 38);
$color-rojo-3: rgb(224, 61, 61);
$color-rojo-2:rgb(223, 93, 93);
$color-rojo-1: rgb(226, 141, 141);
$color-white: rgba(230, 230, 230, 0.856);
$color-negro: black;
